/* color variables */
:root {
  --clr-primary100: hsl(234, 34%, 22%);
  --clr-primary200: rgb(50, 66, 191);
  --clr-light: rgb(240, 240, 240);
  --clr-dark: rgb(0, 0, 0);
  --clr-neutral: hsla(240, 5%, 16%, 0.774);

  /* comment color hex codes here for easy copy and paste*/
  /* 
        Light slate blue (background):
         hsl(252, 100%, 67%)
        - Light royal blue (background): hsl(241, 81%, 54%)
        
        - Violet blue (circle): hsla(256, 72%, 46%, 1)
        - Persian blue (circle): hsla(241, 72%, 46%, 0)
             hsla(221, 100%, 96%, 0.8)
        */

  --pad: max(20px, 4vmin);

  /* sizes */
  --size-xxs: 0.575rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: " kanit", sans-serif;
  font-size: clamp(100%, 1rem + 2vw, 18px);
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

li,
ol,
ul {
  list-style: none;
}

a,
a:hover,
a::before,
a::after {
  text-decoration: none;
  color: inherit;
}
